/* 02. slider area css here */
/* transition */
/* flex */
/* transform */
/* opacity */
.single_slider {
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
}

@media only screen and (max-width: 767px) {
  .single_slider {
    background-position: 14%;
  }
}

.single_slider .row {
  height: 627px;
}

@media only screen and (min-width: 1200px) and (max-width: 1600px) {
  .single_slider .row {
    height: 450px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .single_slider .row {
    height: 400px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .single_slider .row {
    height: 380px;
  }
}

@media only screen and (max-width: 767px) {
  .single_slider .row {
    height: 300px;
  }
}

.slider_area {
  margin-bottom: 35px;
}

.slider_area.owl-carousel .owl-dots {
  position: absolute;
  bottom: 20px;
  width: 100%;
  text-align: center;
}

.slider_area.owl-carousel .owl-dots .owl-dot {
  width: 9px;
  height: 9px;
  border-radius: 50%;
  display: inline-block;
  background: #e1e1e1;
  margin: 0 5px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  position: relative;
}

.slider_area.owl-carousel .owl-dots .owl-dot.active {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.slider_area.owl-carousel .owl-dots .owl-dot.active::before {
  position: absolute;
  content: "";
  background: #c09578;
  width: 13px;
  height: 13px;
  left: -3px;
  top: -3px;
  border-radius: 50%;
}

/*slider content css here*/
@media only screen and (max-width: 767px) {
  .slider_content {
    text-align: center;
  }
}

.slider_content p {
  font-size: 18px;
  line-height: 18px;
  font-weight: 400;
  color: #242424;
  margin-bottom: 11px;
  text-transform: capitalize;
}

@media only screen and (max-width: 767px) {
  .slider_content p {
    font-size: 15px;
    line-height: 18px;
    margin-bottom: 6px;
  }
}

.slider_content h1 {
  font-size: 60px;
  line-height: 60px;
  font-weight: 700;
  color: #212121;
  text-transform: capitalize;
  margin-bottom: 30px;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .slider_content h1 {
    font-size: 48px;
    line-height: 52px;
    margin-bottom: 25px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .slider_content h1 {
    font-size: 45px;
    line-height: 45px;
    margin-bottom: 25px;
  }
}

@media only screen and (max-width: 767px) {
  .slider_content h1 {
    font-size: 24px;
    line-height: 26px;
    margin-bottom: 15px;
  }
}

.slider_content p.slider_price {
  font-size: 18px;
  margin-bottom: 29px;
}

@media only screen and (min-width: 1200px) and (max-width: 1600px) {
  .slider_content p.slider_price {
    font-size: 14px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .slider_content p.slider_price {
    font-size: 14px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .slider_content p.slider_price {
    font-size: 14px;
  }
}

@media only screen and (max-width: 767px) {
  .slider_content p.slider_price {
    font-size: 13px;
  }
}

.slider_content p.slider_price span {
  color: #c09578;
  font-size: 30px;
  font-weight: 500;
  margin-left: 8px;
}

@media only screen and (min-width: 1200px) and (max-width: 1600px) {
  .slider_content p.slider_price span {
    font-size: 22px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .slider_content p.slider_price span {
    font-size: 22px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .slider_content p.slider_price span {
    font-size: 20px;
  }
}

@media only screen and (max-width: 767px) {
  .slider_content p.slider_price span {
    font-size: 15px;
  }
}

.slider_content a {
  font-weight: 500;
  margin-top: 40px;
  color: #fff;
  height: 50px;
  line-height: 50px;
  padding: 0 35px;
}

.slider_content a:hover {
  background: #212121;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .slider_content a {
    margin-top: 25px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .slider_content a {
    margin-top: 20px;
    height: 43px;
    line-height: 43px;
    padding: 0 25px;
  }
}

@media only screen and (max-width: 767px) {
  .slider_content a {
    font-weight: 500;
    margin-top: 0;
    height: 40px;
    line-height: 40px;
    padding: 0 20px;
  }
}

.active .slider_content p, .active .slider_content h1, .active .slider_content a {
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

.active .slider_content h1 {
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
}

.active .slider_content a {
  -webkit-animation-delay: 0.9s;
  animation-delay: 0.9s;
}

/*slider content css end*/
/*home two css here*/
@media only screen and (min-width: 1200px) and (max-width: 1600px) {
  .home_slider_two .slider_content {
    margin-left: 170px;
    overflow: hidden;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1600px) {
  .home_slider_two .slider_content p {
    font-size: 13px;
    margin-bottom: 5px;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1600px) {
  .home_slider_two .slider_content h1 {
    font-size: 42px;
    line-height: 33px;
  }
}

/*home three css here*/
.home_slider_three {
  margin-bottom: 60px;
}

.home_slider_three .single_slider .row {
  height: 900px;
}

@media only screen and (min-width: 1200px) and (max-width: 1600px) {
  .home_slider_three .single_slider .row {
    height: 800px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .home_slider_three .single_slider .row {
    height: 500px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .home_slider_three .single_slider .row {
    height: 400px;
  }
}

@media only screen and (max-width: 767px) {
  .home_slider_three .single_slider .row {
    height: 350px;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1600px) {
  .home_slider_three .slider_content h1 {
    font-size: 50px;
  }
}

/*home five css here*/
.slider_black .single_slider .row {
  height: 690px;
}

@media only screen and (min-width: 1200px) and (max-width: 1600px) {
  .slider_black .single_slider .row {
    height: 500px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .slider_black .single_slider .row {
    height: 450px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .slider_black .single_slider .row {
    height: 400px;
  }
}

@media only screen and (max-width: 767px) {
  .slider_black .single_slider .row {
    height: 350px;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1600px) {
  .slider_black .slider_content {
    margin-left: 120px;
    overflow: hidden;
  }
}

.slider_black .slider_content p {
  color: #a8741a;
  font-size: 24px;
  line-height: 22px;
}

@media only screen and (min-width: 1200px) and (max-width: 1600px) {
  .slider_black .slider_content p {
    font-size: 18px;
    margin-bottom: 0;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .slider_black .slider_content p {
    font-size: 18px;
    margin-bottom: 0;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .slider_black .slider_content p {
    font-size: 18px;
    margin-bottom: 0;
  }
}

@media only screen and (max-width: 767px) {
  .slider_black .slider_content p {
    font-size: 16px;
    line-height: 20px;
  }
}

.slider_black .slider_content p.slider_price {
  color: #ffffff;
}

.slider_black .slider_content p.slider_price span {
  color: #a8741a;
  margin-bottom: 0;
}

.slider_black .slider_content h1 {
  color: #ffffff;
  font-family: "Prata", serif;
  font-weight: 400;
  margin-bottom: 10px;
}

@media only screen and (min-width: 1200px) and (max-width: 1600px) {
  .slider_black .slider_content h1 {
    font-size: 40px;
    line-height: 46px;
    margin-bottom: 8px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .slider_black .slider_content h1 {
    font-size: 40px;
    line-height: 46px;
    margin-bottom: 8px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .slider_black .slider_content h1 {
    font-size: 34px;
    line-height: 45px;
    margin-bottom: 0;
  }
}

@media only screen and (max-width: 767px) {
  .slider_black .slider_content h1 {
    font-size: 22px;
  }
}

.slider_black .slider_content span {
  font-size: 24px;
  color: #ccc;
  margin-bottom: 35px;
  display: inline-block;
}

@media only screen and (min-width: 1200px) and (max-width: 1600px) {
  .slider_black .slider_content span {
    font-size: 18px;
    margin-bottom: 25px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .slider_black .slider_content span {
    font-size: 18px;
    margin-bottom: 25px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .slider_black .slider_content span {
    font-size: 18px;
    margin-bottom: 25px;
  }
}

@media only screen and (max-width: 767px) {
  .slider_black .slider_content span {
    font-size: 14px;
    margin-bottom: 13px;
  }
}

.slider_black .slider_content a {
  background: #a8741a;
  margin-top: 30px;
}

.slider_black .slider_content a:hover {
  background: #212121;
}

@media only screen and (min-width: 1200px) and (max-width: 1600px) {
  .slider_black .slider_content a {
    margin-top: 43px;
  }
}

@media only screen and (max-width: 767px) {
  .slider_black .slider_content a {
    margin-top: 0px;
  }
}

.slider_black.owl-carousel .owl-dots .owl-dot {
  background: #242424;
}

.slider_black.owl-carousel .owl-dots .owl-dot.active::before {
  background: #a8741a;
}

.active .slider_content > span {
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
  -webkit-animation-delay: 0.7s;
  animation-delay: 0.7s;
}

/*home six slider css here*/
.slider_black.black_two .slider_content a {
  border: 2px solid #a8741a;
  background: inherit;
  color: #a8741a;
  line-height: 45px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .slider_black.black_two .slider_content a {
    line-height: 36px;
  }
}

@media only screen and (max-width: 767px) {
  .slider_black.black_two .slider_content a {
    line-height: 36px;
  }
}

.slider_black.black_two .slider_content a:hover {
  background: #a8741a;
  color: #ffffff;
}

/*home seven slider css here*/
.slider_black.black_three {
  margin-bottom: 0;
}

.slider_black.black_three .slider_content a {
  border: 2px solid #a8741a;
  background: inherit;
  color: #a8741a;
  line-height: 47px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .slider_black.black_three .slider_content a {
    line-height: 38px;
  }
}

@media only screen and (max-width: 767px) {
  .slider_black.black_three .slider_content a {
    line-height: 36px;
  }
}

.slider_black.black_three .slider_content a:hover {
  background: #a8741a;
  color: #ffffff;
}

.slider_black.black_three .single_slider .row {
  height: 900px;
}

@media only screen and (min-width: 1200px) and (max-width: 1600px) {
  .slider_black.black_three .single_slider .row {
    height: 750px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .slider_black.black_three .single_slider .row {
    height: 500px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .slider_black.black_three .single_slider .row {
    height: 450px;
  }
}

@media only screen and (max-width: 767px) {
  .slider_black.black_three .single_slider .row {
    height: 350px;
  }
}

.slider_nine {
  margin-bottom: 0;
}

.header_middle9 .dropdown_setting {
  right: 0;
  left: auto;
}

@media only screen and (max-width: 767px) {
  .header_middle9 .dropdown_setting {
    right: -65px;
  }
}

.slider_ten {
  margin-bottom: 0;
}
/*# sourceMappingURL=Slider.module.css.map */